# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
dist/
build/
*.so

# Environments
.env
.venv
.venv/
venv/
env/

# Docker
.dockerignore
docker-compose.override.yml

# IDE / Editor specific
.idea/
.vscode/
*.swp

# Node.js (for frontend later)
node_modules/
npm-debug.log
yarn-error.log
build/
.DS_Store